body {
    background-image:url("background.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
}
.header {
    overflow: hidden;
    background-color: rgba(101, 168, 255, 0.4) ;
    margin-bottom: 5px;
}
#logo {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    float: left;
}
form {
    background-color: antiquewhite;
    width: 55%;
    height: 70%;
    margin: auto;
    padding: auto;
    border: 1px dashed rgb(171, 103, 234);
}
.title {
  background-color: #1C2452;
  color: antiquewhite;
border-bottom: 2px navy solid;
margin-bottom: 3px;
font-size: 30pt;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subtitle {
padding: 2pt;
margin-top: 2px;
font-size: 20pt;
}
.content_left{
  font-size: 18pt;
  border: 0.5px#1C2452 dotted;
  text-align: justify;
  padding: 20px;
}
.bio {
  font-size: 18pt;
  text-align: center;
}
.h2_1 {
  text-align: center;
}
.social_media {
  float: right;
  overflow: hidden;
  padding-bottom:60pt ;
}
.tbl {
  width:90%; 
  align-content:justify ;
  margin-left: 50pt;
  padding: 50px;
  border: 5px #1C2452 solid;
}
.td {
  border: 0.5px #1C2452 solid;
}
.image_center {
  margin-right: 30px;
  padding: 20px;
  overflow: hidden;
}
.image_mid {
  margin: auto;
  padding: 20px;
  padding-left: 100px;
}
.bullet_list {
  font-size: 18pt;
  border: 0.5px#1C2452 dotted;
  list-style: disc;
}
.Reserve {
  float: inline-end;
  line-height-step: 20px;
  width: 400px;
  overflow: hidden;
  margin-bottom: 20pt;
  color: beige;
  background-color: #1C2452;
}
.container {
    background-color: rgba(251, 253, 255, 0.4) ;
}
.portrait {
  overflow: hidden;
  border: 6px #1C2452 solid;
}
